<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memberGroupWrite</title>
    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/adminyj.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
</head>
<body>
  <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="src/images/logo-workhub.png" alt="Logo" srcset=""></a>
                            
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>홈</span>
                            </a>
                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>사원 관리</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="extra-component-avatar.html">정보 복수 변경</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">정보 다운로드</a>
                                </li>
                                
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>근태 관리</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="layout-default.html">근무그룹 등록</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">사원 근무그룹 등록
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">근무 유형 등록</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">연차 유형 등록</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>게시판 관리</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-element-input.html">게시판 관리</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-input-group.html">작성한 공지사항</a>
                                </li>
                                
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pen-fill"></i>
                                <span>자산 관리</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-editor-quill.html">회의실 관리</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-ckeditor.html">차량 관리</a>
                                </li>

                                </li>
                            </ul>
                        </li>

                        <br><br><br><br><br><br>
                        

                        <li class="sidebar-item  ">
                            <a href="ui-file-uploader.html" class='sidebar-link'>
                                <img src="src/images/logout.png" alt="logout">
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        
        

        <!--사원 근무 그룹 작성 시작-->
        
        <form class="wwfw" action="/mgroup/memberGroupWrite" method="post">
            <h4 style="color: black;" class="sdssssc">사원 근무그룹 등록</h4>
            <h6 class="fsdf">사원 아이디</h6>
            <input type="text" name="no">
            <br><br>
           <h6 class="fsdf">그룹명</h6>
           <fieldset class="form-group">
            <select class="form-select" id="basicSelect" name="groupNo">
                <option th:each="val : ${boxList}" th:value="${val.groupNo}" th:utext="${val.groupName}"></option>
            </select>
           </fieldset>
           <br><br>
    <div class="sdasd">
    <input type="submit" class="btn btn-success rounded-pill" id="btnChk" value="저장"></button>
    <a href="#" class="btn btn-light rounded-pill">삭제</a>
    <a href="#" class="btn btn-light rounded-pill">취소</a></div>
    </form>
   
        <!--근무 그룹 작성 끝-->
    
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>