<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workhub-index</title>

    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <!-- 사용자css -->
    <link rel="stylesheet" href="">
    <!-- 파비콘 -->
    <link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
</head>

<body>
    <div id="app">
         <div th:include="sidebar/sidebar" th:remove="tag"/>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>내 정보</h3>
                <div class="container">
                	<div class="info-wrap">
                		<table>
                			<tr>
                				<td>프로필 사진</td>
                				<td>
                					<img src="" />
                						<div class="up-file">
                							<p>사진 올리기</p>
                						</div> <!-- 사진올리기hover-wrap -->
                					<button>삭제</button>
                				</td>
                			</tr> <!-- /프로필 사진 -->
                			<tr>
                				<td>이름</td>
                				<td></td>
                			</tr> <!-- /이름 -->
                			<tr>
                				<td>부서</td>
                				<td></td>
                			</tr> <!-- /부서 -->
                			<tr>
                				<td>직책</td>
                				<td></td>
                			</tr> <!-- /직책 -->
                			<tr>
                				<td>이메일</td>
                				<td></td>
                			</tr> <!-- /이메일 -->
                			<tr>
                				<td>연락처</td>
                				<td></td>
                			</tr> <!-- /연락처 -->
                		</table>
                	</div> <!-- /info-wrap -->
                	<hr>
                	<button>저장</button> <!-- 저장 -->
                	<button>취소</button> <!-- 취소 -->
                </div> <!-- /container -->
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>

    <script src="/assets/js/main.js"></script>
</body>

</html>