<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 - Workhub</title>

    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    

    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap-ar.css">

    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app-ar.css">
    <link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    
    
</head>

<body>
    <div th:include="sidebar/sidebar-reserve" th:remove="tag"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <!-- 상단 horizontal nav-->
        <div class="page-heading">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="" role="tab"
                        aria-controls="home" aria-selected="true">
                        <h5>회의실 예약</h5>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="" role="tab"
                        aria-controls="profile" aria-selected="false">
                        <h5>차량 예약</h5>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="" role="tab"
                        aria-controls="contact" aria-selected="false">
                        <h5>내 예약 조회</h5>
                    </a>
                </li>
            </ul>
        </div>

        <div class="page-heading border-bottom">
            <ul class="nav nav-tabs" id="myTab" >
				<li class="nav-item font-clr" th:each="location : ${ locationList }">
					<a class="nav-link" id="home-tab" href="" th:text="${ location.rmLocation }"></a>
				</li>          
            </ul>
        </div>

        <div class="res-head">
            <div id="date-area">
                <!--  -->
                <span><button type="button" class="date-before" onclick="moveDate('previous');">&lt;</button></span>
                
                <span><input type="date" class="res-date" id="booking_date"></span>
                
                <span><button type="button" class="date-before" onclick="moveDate('next');">&gt;</button></span>
                <span><button type="button" class="today-btn" onclick="setToday()">오늘</button></span>
            </div>

            <!-- moveDate script -->
            <script>
                // 날짜 이동
                function moveDate(str) {
                    var date = $j('#booking_date').val();

                    switch (str) {
                        case 'previous':
                            $j('#booking_date').val(bookingCommon.makeDate(date, '00:00:00', '-1 day').format('Y-m-d'));
                            break;
                        case 'next':
                            $j('#booking_date').val(bookingCommon.makeDate(date, '00:00:00', '+1 day').format('Y-m-d'));
                            break;
                    }

                    bookingResourceListTime.getResourceList(bookingResourceListTime.PAGE);
                }
				
                function formatDate(date) {
                    
                    var d = new Date(date),
                    
                    month = '' + (d.getMonth() + 1) , 
                    day = '' + d.getDate(), 
                    year = d.getFullYear();
                    
                    if (month.length < 2) month = '0' + month; 
                    if (day.length < 2) day = '0' + day; 
                    
                    return [year, month, day].join('-');
                    
                    }

                
                // 오늘 버튼 이벤트
                function setToday() {
                    $('input#booking_date').val(formatDate(new Date()));

                }
            </script>

            <div id="cal_head_fixed_div_area">
                

                <!-- table 활용 template -->
                <table class="res-tbl">
                    <colgroup id="resource-list">
                        <col width="100px">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="border-bottom:none;">
                                <table>
                                    <thead class="booking_resource_img_top">
                                        <tr>
                                        </tr>
                                        <tr class="rs-bg">
                                        </tr>

                                    </thead>
                                </table>
                            </td>
                            <td style="border-bottom:none;" class="col-width-ctrl" th:each="room : ${ roomList }">
                                <table class="mt-room-info">
                                    <thead>
                                        <tr>
                                            <th th:text="${ room.roomName }"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="mt-room-img">
                                            <td>
                                                <img th:src="@{/uploadFiles/} + ${ room.savedName }" alt="room-img">
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </td>
                            

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


        <div class="res-view">

            <table class="res-tbl" id="booking_main_tbl">
                <colgroup id="resource_list_colgroup">
                    <col width="100">
                </colgroup>

                <tbody>
                    <td style="border-bottom:none;">
                        <table class="table mb-0">
                            <tbody class="tr-height-2x">
                                <tr>
                                    <th class="time-dscrp"> 오전 8시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오전 9시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오전 10시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오전 11시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 12시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 1시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 2시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 3시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 4시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 5시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 6시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 7시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 8시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 9시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 10시 </th>
                                </tr>
                                <tr>
                                    <th class="time-dscrp"> 오후 11시 </th>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="border-bottom:none;" class="col-width-ctrl" th:each="room: ${ roomList }">
                        <div class="table-responsive" th:if="${ room.delYn } == 'N'">
                            <table class="table table-hover mb-0">
                                <tbody class="tr-height">
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                            <input type="hidden" name="time" value="8:00" class="time">
                                        </td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal" data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="before" data-bs-toggle="modal"
                                            data-bs-target="#inlineForm"></td>
                                    </tr>
                                    <tr class="tbl-dotted-line">
                                        <td class="after" data-bs-toggle="modal" data-bs-target="#inlineForm">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tbody>
            </table>
        </div>


        <!--회의실 예약 Modal -->
        <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg modal-resize"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">&nbsp;예약하기</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                   	
                    <form class="form form-horizontal" method="post" th:action="@{/reserve/meeting/list}" th:each="room, stat : { roomList }">
                        <div class="form-body modal-body" th:each="userInfo : { loginUser }">
                           <div class="row">
                                <div class="col-md-4 modal-margin">
                                    <label>회의실 이름</label>
                                </div>
                                <div class="col-md-8 form-group modal-margin">
                                    <input type="text" class="form-control input-margin" name="room"
                                        th:value="${ room[0].roomName }" readonly>
                                </div>
                                <div class="col-md-4 modal-margin">
                                    <label>예약기간</label>
                                </div>
                                <div class="col-md-8 form-group date-grid modal-margin">
                                    <div>
                                        <input type="datetime-local" class="form-control pe-font-size" name="period"
                                            value="2022-04-28T09:00">
                                    </div>
                                    <div>-</div>
                                    <div>
                                        <input type="datetime-local" class="form-control pe-font-size" name="period"
                                            value="2022-04-28T09:00">
                                    </div>
                                </div>
                                <div class="col-md-4 modal-margin">
                                    <label>예약자</label>
                                </div>
                                <div class="col-md-8 form-group modal-margin">
                                	<input type="hidden" name="username" th:value="${ userInfo[0].id }">
                                    <input type="text" id="contact-info" class="form-control input-margin" name="name"
                                        th:value="${ userInfo[0].id }" readonly>
                                </div>
                                <div class="col-md-4 modal-margin">
                                    <label>목적</label>
                                </div>
                                <div class="col-md-8 form-group modal-margin">
                                    <textarea rows="5" cols="49" name="content" style="resize:none;"
                                        required></textarea>
                                </div>


                           	</div>
                            <div class="modal-footer">
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1 btn-size">예약하기</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1 btn-size">초기화</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/main.js"></script>
</body>

</html>