<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.workhub.member.message.model.dao.InboxMapper">

	<resultMap id="messageResultMap" type="com.work.workhub.member.message.model.dto.InboxDTO">
		<id property="msgCode" column="MSG_CODE"/>
		<result property="senderNo" column="SENDER_NO"/>
		<result property="reicipientNo" column="REICIPIENT_NO"/>
		<result property="msgContent" column="MSG_CONTENT"/>
		<result property="sendDate" column="SEND_DATE"/>
		<result property="sendTime" column="SEND_TIME"/>
		<result property="readDate" column="READ_DATE"/>
		<result property="readTime" column="READ_TIME"/>
		<result property="recycleBinStatus" column="RECYCLE_BIN_STATUS"/>
		<result property="deleteStatus" column="DELETE_STATUS"/>
	</resultMap>
	
	<select id="findMessageInbox" resultMap="messageResultMap">
		SELECT 
			    MSG_CODE
			  , MSG_SENDER_NO
			  , MSG_REICIPIENT_NO
			  , MSG_CONTENT
			  , MSG_SEND_DATE
			  , MSG_SEND_TIME
			  , MSG_READ_DATE
			  , MSG_READ_TIME
			  , MSG_RECYCLE_BIN_STATUS
			  , MSG_DELETE_STATUS
           FROM MESSAGE
          WHERE MSG_REICIPIENT_NO = 300
	</select>

</mapper>