<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.workhub.member.approval.model.dao.ApprovalMapper">
	
	<resultMap id="approvalResultMap" type="com.work.workhub.member.approval.model.dto.ApprovalDTO">
		<id property="no" column="APP_NO"/>
		<result property="memNo" column="APP_MEM_NO"/>
		<result property="title" column="APP_TITLE"/>
		<result property="content" column="APP_CONTENT"/>
		<result property="status" column="APP_STATUS"/>
		<result property="createdDate" column="APP_CREATED_DATE"/>
		<result property="dueDate" column="APP_DUE_DATE"/>
		
		<association property="receiver" resultMap="memberResultMap"/>
		<association property="sender" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.work.workhub.member.member.dto.MemberDTO">
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="depNo" column="DEP_NO"/>
		<result property="positionNo" column="POSITION_NO"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="status" column="STATUS"/>
		
		<association property="dept" resultMap="departmentResultMap"/>
		<association property="position" resultMap="positionResultMap"/>
	</resultMap>
	
	<resultMap id="positionResultMap" type="com.work.workhub.member.member.dto.PositionDTO">
		<id property="positionNo" column="POSITION_NO"/>
		<id property="positionName" column="POSITION_NAME"/>
	</resultMap>
	
	<resultMap id="departmentResultMap" type="com.work.workhub.member.member.dto.DepartmentDTO">
		<id property="depNo" column="DEP_NO"/>
		<result property="depName" column="DEP_NAME"/>
	</resultMap>
	
	<select id="selectReceptionList" resultMap="approvalResultMap">
		SELECT
			   A.APP_NO
			 , A.APP_MEM_NO
			 , A.APP_TITLE
			 , A.APP_CONTENT
			 , A.APP_STATUS
			 , A.APP_CREATED_DATE
			 , A.APP_DUE_DATE
			 , B.NAME
	      FROM APPROVAL A
		  JOIN TBL_MEMBER B ON(A.APP_MEM_NO = B.NO)
	</select>
	
	<select id="selectSendList" resultMap="approvalResultMap">
		SELECT
			   A.APP_NO
			 , A.APP_MEM_NO
			 , A.APP_TITLE
			 , A.APP_CONTENT
			 , A.APP_STATUS
			 , A.APP_CREATED_DATE
			 , A.APP_DUE_DATE
			 , B.NAME
	      FROM APPROVAL A
		  JOIN TBL_MEMBER B ON(A.APP_MEM_NO = B.NO)
	</select>
	
	<select id="selectDepartmentList" resultMap="departmentResultMap">
		SELECT
			  DEP_NO
			, DEP_NAME
		  FROM DEPARTMENT
	</select>
	
	<select id="selectMemberList" resultMap="memberResultMap">
		SELECT
			   A.DEP_NO
			 , A.POSITION_NO
			 , A.NAME
			 , B.POSITION_NAME
			 , C.DEP_NAME
		  FROM TBL_MEMBER A
		  JOIN TBL_POSITION B ON(A.POSITION_NO = B.POSITION_NO)
		  JOIN DEPARTMENT C ON(A.DEP_NO = C.DEP_NO)
	</select>
	
	<insert id="insertApproval">
		INSERT
		  INTO APPROVAL
		(
		  APP_NO
		, APP_MEM_NO
		, APP_TITLE
		, APP_CONTENT
		, APP_STATUS
		, APP_CREATED_DATE
		, APP_DUE_DATE
		)
		VALUES
		(
		  SEQ_APP_NO.NEXTVAL
		, #{ no }
		, #{ title }
		, #{ content }
		, DEFAULT
		, SYSDATE
		, #{ dueDate }
		)
	</insert>
	
</mapper>