<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.workhub.member.calendar.model.dao.CalendarMapper">

	<resultMap id="calendarResultMap" type="com.work.workhub.member.calendar.model.dto.CalendarDTO">
		<id property="calCode" column="CAL_CODE"/>
		<result property="calCategoryCode" column="CAL_CATEGORY_CODE"/>
		<result property="calDepNo" column="CAL_DEP_NO"/>
		<result property="calWriterNo" column="CAL_WRITER_NO"/>
		<result property="calName" column="CAL_NAME"/>
		<result property="calContent" column="CAL_CONTENT"/>
		<result property="calStartDate" column="CAL_START_DATE"/>
		<result property="calEndDate" column="CAL_END_DATE"/>
		<result property="calStartTime" column="CAL_START_TIME"/>
		<result property="calEndTime" column="CAL_END_TIME"/>
		<result property="calAlldayStatus" column="CAL_ALLDAY_STATUS"/>
		
		<association property="calCategory" resultMap="calCategoryResultMap"></association>
		<association property="department" resultMap="departmentResultMap"/>
	</resultMap>
	
	<resultMap id="calCategoryResultMap" type="com.work.workhub.member.calendar.model.dto.CalCategoryDTO">
		<id property="calCategoryCode" column="CAL_CATEGORY_CODE"/>
		<result property="calCategoryName" column="CAL_CATEGORY_NAME"/>
	</resultMap>

	<resultMap id="departmentResultMap" type="com.work.workhub.member.member.dto.DepartmentDTO">
		<id property="depNo" column="DEP_NO"/>
		<result property="depName" column="DEP_NAME"/>
	</resultMap>
	
	<select id="selectCalendarList" resultMap="calendarResultMap">
		SELECT /* com.work.workhub.member.calendar.model.dao.selectCalendarList() */
			    A.CAL_CODE
			  , A.CAL_CATEGORY_CODE
			  , A.CAL_DEP_NO
			  , A.CAL_WRITER_NO
			  , A.CAL_NAME
			  , A.CAL_CONTENT
			  , A.CAL_START_DATE
			  , A.CAL_END_DATE
			  , A.CAL_START_TIME
			  , A.CAL_END_TIME
			  , A.CAL_ALLDAY_STATUS
		   FROM CALENDAR A
	</select>

</mapper>
